* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr 50px;
  background-image: url(./images/main-theme.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

input:hover,
select:hover {
  cursor: pointer;
}

#content {
  display: grid;
  grid-template-rows: 100px 1fr;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form p {
  display: flex;
  gap: 20px;
  position: relative;
}

span.error-message {
  position: absolute;
  top: 50px;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

.form input,
.form button {
  appearance: none;
  border: none;
}

.form input {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.form input:focus {
  outline: none;
  box-shadow: 0 0 20px 5px purple;
}

.form button {
  padding: 5px 10px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: orange;
  color: white;
  border-radius: 5px;
}

.form button:hover,
.form button:focus {
  color: red;
  text-decoration: underline;
}

.form button:focus {
  outline: none;
}

.main {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  padding: 0px 60px;
  gap: 10px;
}

.toggle-temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.toggle-temperature label {
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
}

.toggle-temperature select {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  color: purple;
}

.weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.weather-info > .weather-cell {
  display: grid;
  grid-template-rows: 40px 1fr 40px 80px;
  align-items: center;
  justify-items: center;

  padding: 10px;
  color: orange;
  font-weight: bold;
  font-size: 1.5rem;
  border: 2px solid red;
}

.weather-info > .weather-cell:nth-child(2) {
  border-left: 0;
  border-right: 0;
}

.weather-cell .icon {
  height: 130px;
  width: 130px;
}

.current-location {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.7rem;
  font-weight: bold;
  color: white;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;

  color: orange;
  font-size: 1.3rem;
  font-weight: bold;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover,
#footer a:focus {
  color: red;
  text-decoration: underline;
}

#footer a:focus {
  outline: none;
}
